.textbox {
    padding: 10px 0px 40px 0px;
    text-align: center;
    margin: auto;
    width: 70vw;
    z-index: 5;
    span {
      border-radius: 50px;
      border-style: solid;
      border-width: 1.5px;
      padding: 10px 38px 14px 38px;
      font-size: 18px;
      letter-spacing: 2px;
      margin: 0px;
      line-height: 55px;
      a &:active {
        background-color: $color-primary;    
        color: $color-tertiary;
      }
    }
    h2 {
      padding: 80px 50px 20px 50px;
    }
}

.boton {
  border-radius: 50px;
  border-style: solid;
  border-width: 1.5px;
  padding: 10px 38px 14px 38px;
  color: $color-primary;
  a &:active {
    background-color: $color-primary;    
    color: $color-tertiary;
    }
    &:hover {
    color: $color-secondary;  
    }
  
}



