* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/*Animation*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 7.3vh;
  line-height: 7.8vh;
  padding-bottom: 8px;
  font-weight: 200; }
  h1 span {
    font-weight: 200;
    color: #dd481d; }

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4.5vh;
  line-height: 5vh;
  padding-bottom: 12px;
  font-weight: 200; }

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  padding: 20px 0px;
  font-weight: 600; }

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  padding: 12px 0px; }

p {
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  padding: 20px 0px; }

a {
  text-decoration: none;
  color: #313632; }
  a:hover {
    color: #dd481d;
    border-color: #dd481d;
    text-decoration: none; }
  a:active {
    border-color: #dd481d;
    border-bottom: 5px; }

ul {
  list-style: none; }
  ul li {
    list-style: none; }

body {
  background-color: #e7dbd4;
  color: #313632;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  padding: 0px; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.vw50 {
  width: 50vw; }

.banner-principal {
  padding: 0px 80px 100px 80px;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover; }
  .banner-principal .div {
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 10s; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0px; }

.description {
  padding: 150px 0px 150px 0px;
  text-align: center;
  margin: auto;
  width: 70vw; }

.inner-content {
  margin: 100px 80px 0px 80px; }

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px; }
  .column img {
    vertical-align: middle;
    width: 100%; }

img {
  z-index: -1;
  margin-top: 8px;
  width: 100%; }

/*Image overlay*/
.container {
  position: relative;
  padding: 0%; }
  .container:hover .overlay {
    opacity: 1; }

.image {
  display: block; }

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #dd481d;
  margin-top: 0px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 6vh;
  line-height: 1.6rem; }

.text {
  color: #e7dbd4;
  font-family: inherit;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/*Ids */
#gallery {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px; }

#imagen-principal img {
  width: auto;
  height: 85vh;
  position: relative; }

#services {
  background-color: #dd481d;
  padding: 50px; }

#lab-section {
  background-color: #ffffff;
  color: #313632; }
  #lab-section #gallery {
    margin-left: 80px;
    margin-right: 80px; }

footer {
  bottom: 0;
  width: 100%;
  padding: 15vh 20px 30px 20px;
  color: #313632;
  border: 1px; }
  footer p {
    font-size: 12px;
    letter-spacing: 2px; }
  footer a {
    color: #313632; }
    footer a:hover {
      color: #dd481d; }

.footer-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  margin: 0px; }

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030; }

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out; }

header {
  width: 100%;
  z-index: 4;
  height: 100%; }
  header span {
    letter-spacing: 1px;
    line-height: 35px; }
  header li {
    padding: 10px 30px;
    text-align: center; }
  header img {
    height: 60px;
    top: 0px; }

.topnav .icon {
  display: none; }

.navbar {
  top: 0; }
  .navbar li {
    color: #313632; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 0px;
  border-radius: 0rem; }

input[type="text"],
select,
textarea {
  border: none;
  background-color: #e7dbd4;
  padding: 15px;
  width: 100%;
  border-bottom: 2px solid #dd481d;
  margin: 15px 0px;
  font-family: "Manrope", sans-serif;
  font-size: 18px; }

input[type="submit"] {
  border-radius: 50px;
  padding: 10px 38px 14px 38px;
  background-color: #dd481d;
  color: #e7dbd4;
  border: none;
  cursor: pointer;
  font-family: "Manrope", sans-serif; }
  input[type="submit"]:hover {
    background-color: #313632; }

.grid-container {
  display: grid;
  column-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  align-items: center; }

.grid-overview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 10px;
  margin: 180px 80px 0px 80px; }

.div1 {
  grid-area: 1 / 1 / 3 / 4; }

.div2 {
  grid-area: 1 / 4 / 2 / 5; }

.div3 {
  grid-area: 1 / 5 / 2 / 6; }

.div4 {
  grid-area: 2 / 4 / 3 / 5; }

.div5 {
  grid-area: 2 / 5 / 3 / 6; }

body {
  background-color: #e7dbd4;
  color: #313632;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  padding: 0px; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.vw50 {
  width: 50vw; }

.banner-principal {
  padding: 0px 80px 100px 80px;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover; }
  .banner-principal .div {
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 10s; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0px; }

.description {
  padding: 150px 0px 150px 0px;
  text-align: center;
  margin: auto;
  width: 70vw; }

.inner-content {
  margin: 100px 80px 0px 80px; }

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px; }
  .column img {
    vertical-align: middle;
    width: 100%; }

img {
  z-index: -1;
  margin-top: 8px;
  width: 100%; }

/*Image overlay*/
.container {
  position: relative;
  padding: 0%; }
  .container:hover .overlay {
    opacity: 1; }

.image {
  display: block; }

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #dd481d;
  margin-top: 0px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 6vh;
  line-height: 1.6rem; }

.text {
  color: #e7dbd4;
  font-family: inherit;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/*Ids */
#gallery {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px; }

#imagen-principal img {
  width: auto;
  height: 85vh;
  position: relative; }

#services {
  background-color: #dd481d;
  padding: 50px; }

#lab-section {
  background-color: #ffffff;
  color: #313632; }
  #lab-section #gallery {
    margin-left: 80px;
    margin-right: 80px; }

.flex-space-between {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flex-space-around {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.flex-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

.flex-overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 20px 50px 100px 50px; }
  .flex-overview h3 {
    padding: 20px 0px 0px 0px; }

.flex-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 20px 50px 100px 50px; }
  .flex-about div {
    width: 40vw;
    padding: 50px 0px; }
  .flex-about img {
    border-radius: 50px;
    right: 0;
    width: 100%;
    left: auto; }

.textbox {
  padding: 10px 0px 40px 0px;
  text-align: center;
  margin: auto;
  width: 70vw;
  z-index: 5; }
  .textbox span {
    border-radius: 50px;
    border-style: solid;
    border-width: 1.5px;
    padding: 10px 38px 14px 38px;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0px;
    line-height: 55px; }
    a .textbox span:active {
      background-color: #dd481d;
      color: #e7dbd4; }
  .textbox h2 {
    padding: 80px 50px 20px 50px; }

.boton {
  border-radius: 50px;
  border-style: solid;
  border-width: 1.5px;
  padding: 10px 38px 14px 38px;
  color: #dd481d; }
  a .boton:active {
    background-color: #dd481d;
    color: #e7dbd4; }
  .boton:hover {
    color: #313632; }

/*Animation*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Responsive layout  */
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%; }
  h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 12px;
    font-weight: 200; }
  .textbox h2 {
    padding-top: 60px; }
  .banner-principal {
    padding: 50px 30px 50px 30px;
    max-width: 100vw;
    height: auto; }
  #imagen-principal img {
    height: auto;
    width: 100vw;
    z-index: -1;
    position: relative; }
  .flex-space-between {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    text-align: center; }
  .flex-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    padding: 20px 50px 100px 50px;
    text-align: center; }
    .flex-about div {
      width: 80vw; }
  .grid-container .flex-space-between {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .grid-container {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr;
    width: auto; }
    .grid-container p {
      text-align: center; }
  .navbar {
    background-color: #e7dbd4; }
    .navbar ul {
      height: 100vh; }
    .navbar li {
      border-bottom: 1px;
      border-color: #dd481d; }
  .grid-overview {
    text-align: center;
    margin: 80px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas: 'div1' 'div2' 'div3' 'div4' 'div5'; }
  .div1 {
    grid-area: div1; }
  .div2 {
    grid-area: div2; }
  .div3 {
    grid-area: div3; }
  .div4 {
    grid-area: div4; }
  .div5 {
    grid-area: div5; }
  .inner-content {
    margin: 100px 50px 0px 50px; } }
