// Form
input[type="text"],
select,
textarea {
  border: none;
  background-color: $color-tertiary;
  padding: 15px;
  width: 100%;
  border-bottom: 2px solid $color-primary;
  margin: 15px 0px;
  font-family: $font-secondary;
  font-size: 18px;
}

input[type="submit"] {
  border-radius: 50px;
  padding: 10px 38px 14px 38px;
  background-color: $color-primary;
  color: $color-tertiary;
  border: none;
  cursor: pointer;
  font-family: $font-secondary;
  &:hover {
    background-color: $color-secondary;
  }
}