h1 {
    font-family: $font-primary;
    // font-variant-caps: all-small-caps;
    font-size: 7.3vh;
    line-height: 7.8vh;
    padding-bottom: 8px;
    font-weight: 200;
    span {
      font-weight: 200;
      color: $color-primary;
    }
  }
  
h2 {
    font-family: $font-primary;
    font-size: 4.5vh;
    line-height: 5vh;
    padding-bottom: 12px;
    font-weight: 200;
}
  
h3 {
    font-family: $font-secondary;
    font-size: 24px;
    padding: 20px 0px;
    font-weight: 600;
}
  
h4 {
    font-family: $font-secondary;
    font-size: 12px;
    padding: 12px 0px;
}
  
p {
    font-family: $font-secondary;
    font-size: 21px;
    padding: 20px 0px;
}
  
a {
    text-decoration: none;
    color: $color-secondary;
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
      text-decoration: none;
    }
    &:active {
      border-color: $color-primary;
      border-bottom: 5px;

    }
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}
